@{
    ViewData["Title"] = "Sobre o lista filmes";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto eu fiz seguindo a documentação ASP .NET da Microsoft, porém eu fiz esta versão sozinho sem olhar os códigos da documentação. <br>Isso só foi possível depois de inúmeras tentativas de criar um banco de dados funcional junta a minha aplicação WEB.<br>Esta aplicação WEB foi construída com ASP .NET MVC a linguagem de programação foi a C# e o banco de dados e o SQLserver e esta aplicação esta rodando nos servidores do Azure. <br><br>Foi um desafio chegar até aqui.</p>
